/* Styles for the project Sedona */

/* Fonts*/
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Header */
.header-page {
  width: 100%;
  background-color: #ffffff;
}

/* Navigation */
.header-logo {
  position: relative;
  display: block;
  line-height: 0;
  margin-bottom: -6px;
  z-index: 1;
}

.logo-img {
  width: 140px;
  height: 70px;
  margin: 0;
}

.navigation-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
  gap: 34px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
  box-sizing: border-box;
}

.navigation-item {
  display: block;
  margin-right: 12px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 10px;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  border-bottom: 2px solid #756257;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.menu-link {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.navigation-user-link {
  display: block;
  margin: 0;
  margin-top: 14px;
  margin-left: 20px;
}

.navigation-user-link:hover,
.navigation-user-link:focus,
.navigation-user-link:active {
  opacity: 0.6;
}

.search-link {
  min-width: 44px;
  min-height: 64px;
  margin: 0;
  padding: 20px 10px;
  box-sizing: border-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/navigation/search.svg");
}

.favorites-link {
  position: relative;
  min-width: 44px;
  min-height: 64px;
  margin: 0;
  padding: 20px 10px;
  box-sizing: border-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/navigation/heart.svg");
}

.favorites-number {
  position: absolute;
  top: 12px;
  right: 4px;
  display: block;
  min-width: 20px;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 1px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7db54f;
}

.navigation-button {
  display: block;
  margin: 0;
  margin-top: 14px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.navigation-button:disabled {
  background-color: #e5e5e5;
}

.button {
  padding: 8px 34px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Index.html */
.main-page {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

/* Intro */
.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 70px;
  padding-bottom: 83px;
  background-image: url("../images/background-pages/intro-bg.jpg");
  background-color: #15306c;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Advantages */
.advantages {
  padding: 0;
  padding-top: 69px;
}

.title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title {
  padding: 0 265px;
  margin-bottom: 25px;
  color: #000000;
}

.text {
  margin: 0;
  text-align: center;
}

.advantages-text {
  padding: 0 70px;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantage-item {
  width: 33.33%;
  flex-grow: 1;
  text-align: center;
}

.advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:first-child,
.advantage-item:last-child {
  width: 100%;
  background-color: #82b3d3;
}

.advantage-item:last-child {
  flex-direction: row-reverse;
}

.advantage-wrapper {
  display: flex;
}

.advantage-description {
  display: flex;
  flex-direction: column;
  gap: 62px;
  padding: 113px 0;
}

.advantage-item:first-child .advantage-description,
.advantage-item:last-child .advantage-description {
  padding: 102px 0;
}

.advantage-img {
  margin: auto;
}

.subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantage-item:first-child .subtitle,
.advantage-item:last-child .subtitle {
  color: #ffffff;
}

.advantage-subtitle {
  position: relative;
  padding: 0 130px;
}

.advantage-subtitle::before {
  display: block;
  position: absolute;
  content: "";
  top: 70px;
  left: 170px;
  width: 60px;
  height: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantage-item:first-child .advantage-subtitle,
.advantage-item:last-child .advantage-subtitle {
  padding: 0 80px;
}

.advantage-item:first-child .advantage-subtitle::before,
.advantage-item:last-child .advantage-subtitle::before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.subdescription {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantage-item:first-child .subdescription,
.advantage-item:last-child .subdescription {
  color: #ffffff;
}

.advantage-subdescription {
  padding: 0 70px;
}

.advantage-item:first-child .advantage-subdescription,
.advantage-item:last-child .advantage-subdescription {
  padding: 0 75px;
}

/* Service */
.service {
  padding: 64px 0;
}

.service-title {
  padding: 0 345px;
  margin-bottom: 19px;
  color: #000000;
}

.service-text {
  padding: 0 70px;
  margin-bottom: 65px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 33.33%;
  padding: 0;
  padding-top: 182px;
  padding-bottom: 80px;
  text-align: center;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: 50% 26%;
}

.service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-house {
  background-image: url("../images/icons/service/house.svg");
}

.service-food {
  background-image: url("../images/icons/service/food.svg");
}

.service-souvenir {
  background-image: url("../images/icons/service/souvenir.svg");
}

.service-subtitle {
  padding: 0 70px;
}

.service-house .service-subdescription {
  padding: 0 110px;
}

.service-food .service-subdescription {
  padding: 0 80px;
}

.service-souvenir .service-subdescription {
  padding: 0 96px 0 95px;
}

/* Search */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 0 97px 0;
}

.search-headline {
  padding: 0 70px;
  margin-bottom: 20px;
  color: #000000;
}

.search-text {
  padding: 0 70px;
  margin-bottom: 55px;
}

.search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding: 7px 50px;
  background-color: #756157;
}

.search-button:hover,
.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.search-button:disabled {
  background-color: #e5e5e5;
}

/* Subscription for index.html */
.subscription-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0 104px 0;
  color: #ffffff;
  background-image: url("../images/background-pages/subscription-bg.jpg");
  background-color: #15306c;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title-index {
  padding: 0 70px;
  margin-bottom: 21px;
}

.subscription-text-index {
  padding: 0 352px;
  margin-bottom: 54px;
}

/* Subscription form */
.subscription-form {
  display: flex;
  flex-wrap: wrap;
}

.subscription-input {
  width: 433px;
  padding: 5px 10px 0 10px;
  font-family: inherit;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.subscription-input::placeholder {
  display: block;
  padding-left: 10px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.subscription-button {
  width: 232px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.subscription-button:hover,
.subscription-button:focus {
  background-color: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.subscription-butto:disabled {
  background-color: #e5e5e5;
}

/* Catalog.html */
.catalog-page {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.catalog-container {
  flex-grow: 1;
}

.catalog-wrapper {
  padding: 35px 70px 71px;
  color: #ffffff;
  background-image: url("../images/background-pages/filter-bg.jpg");
  background-color: #15306c;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-title {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: relative;
  display: block;
  content: "";
  top: 2px;
  width: 7px;
  height: 12px;
  margin-left: 9px;
  background-image: url("../images/icons/breadcrumbs/arrow-right.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  text-decoration: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
  opacity: 0.6;
}

.link-home {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../images/icons/breadcrumbs/home.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

/* Form with filter */
.catalog-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 150px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-form-price {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
}

.catalog-form-title {
  padding: 0;
  margin-bottom: 29px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-form-price .catalog-form-title {
  margin-bottom: 32px;
}

.catalog-form-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-form-item {
  margin-bottom: 13px;
}

.catalog-form-item:last-child {
  margin-bottom: 0;
}

.catalog-control {
  font-size: 18px;
  line-height: 23px;
  padding-left: 16px;
}

.catalog-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.catalog-price {
  position: relative;
  padding: 0;
  margin: 0;
}

.price-label {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  text-transform: lowercase;
}

.price-input {
  width: 108px;
  padding: 12px 16px 13px 21px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border-width: 0;
  border-style: solid;
}

.price-input-min {
  border-radius: 4px 0 0 4px;
}

.price-input-max {
  border-radius: 0 4px 4px 0;
}

.catalog-form-buttons {
  display: flex;
  flex-direction: column;
  padding: 57px 0 0;
}

.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 7px 50px;
  margin-bottom: 34px;
  text-align: center;
  background-color: #82b3d3;
}

.button-apply:hover,
.button-apply:focus {
  background-color: #68a2ca;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button-apply:disabled {
  background-color: #e5e5e5;
}

.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 7px 50px;
  text-align: center;
  background: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #82b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.2);
}

/* Sorting */
.catalog-sorting {
  padding: 49px 70px 60px 70px;
}

.catalog-sorting-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.sorting-title {
  width: 470px;
  padding: 0;
  margin-top: 8px;
  color: #000000;
  text-align: left;
}

.result-number {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

/* Select */
.catalog-select-control {
  width: 294px;
  padding: 12px 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  outline-width: 2px;
  border-radius: 4px;
  border-color: #e5e5e5;
  background-color: #ffffff;
}

/* Display card */
.catalog-list-display {
  width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Catalog card */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.card-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px 20px;
  max-width: 300px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.card-link {
  grid-column: 1 / -1;
  width: 300px;
  text-decoration: none;
}

.card-link-img {
  line-height: 0;
}

.card-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.card-type {
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.card-price {
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-align: right;
}

.card-button {
  padding: 8px 15px 8px 27px;
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #756157;
}

.card-button:hover,
.card-button:focus {
  background-color: #615048;
}

.card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.card-button:disabled {
  background-color: #e5e5e5;
}

.button-favorites {
  padding: 8px 15px;
  background-color: #82b3d3;
}

.button-favorites:hover,
.button-favorites:focus {
  background-color: #68a2ca;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button-favorites:disabled {
  background-color: #e5e5e5;
}

.button-active {
  padding: 8px 15px;
  background-color: #7db54f;
}

.button-active:hover,
.button-active:focus {
  background-color: #6c9e42;
}

.button-active:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-active:disabled {
  background-color: #e5e5e5;
}

.card-stars {
  padding: 0;
  margin: 0;
}

.card-rating {
  padding: 9px 11px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 40px 0 0 0;
  margin: 0;
  border-top: 1px solid #e6e6e6;
  list-style: none;
}

.pagination-item-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}

.pagination-link {
  display: inline-block;
  min-width: 60px;
  padding: 10px 0 12px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #82b3d3;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link:active {
  background-color: #f2f2f2;
}

/* Subscription for catalog.html */
.subscription-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 97px 70px 105px 70px;
  margin: 0;
}

.subscription-title-catalog {
  padding: 0;
  margin-bottom: 20px;
  color: #000000;
}

.subscription-text-catalog {
  padding: 0 296px 0 297px;
  margin-bottom: 54px;
}

/* Footer */
.footer-page {
  width: 1200px;
  padding: 45px 0;
  margin: 0;
  background-color: #ffffff;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

/* Social */
/* Временные стили для блока соц сетей */
.social-list {
  min-width: 145px;
  min-height: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #faebd7;
}

/* Contact */
.contact {
  font-style: normal;
}

.contact-tel {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.contact-tel:hover,
.contact-tel:focus {
  color: #756157;
}

.contact-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Development */
.developer-icon {
  display: block;
  width: 115px;
  height: 34px;
  fill: #000000;
}

.developer-link:hover .developer-icon,
.developer-link:focus .developer-icon {
  fill: #756157;
}

.developer-link:active .developer-icon {
  fill: rgba(117, 97, 87, 0.3);
}
